* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
	direction: rtl;
}

body {
	font-family: 'Noto Sans Arabic', sans-serif;
	font-weight: 400;
	color: #fff;
	background: #031d35;
}
a {
	text-decoration: none;
}

/************************/
/*       HEADER        */
/**********************/
.header-title {
	font-family: 'Vibes', serif;
	text-shadow: 0 20px 25px #2e2e31, 0 40px 60px #2e2e31;
	font-size: 10rem;
	margin: 2rem;
	font-weight: 700;
	text-decoration: none;
	text-align: center;
}

.header-title-link {
	color: #fff;
	text-decoration: none;
}

.menubar {
	margin-bottom: 3rem;
}
.menu-items {
	list-style-type: none;
	display: flex;
	justify-content: center;
	gap: 8rem;
}
.menu-link {
	color: #fff;
	text-decoration: none;
	font-size: 2rem;
	font-weight: 600;
}
.menu-link:hover {
	color: #b3bcc7d2;
}

/************************/
/*       SEARCH        */
/**********************/
.search {
	width: 100%;
	display: flex;
	justify-content: center;
}
.search-input {
	height: 50px;
	width: 400px;
	border-radius: 10px;
	border: none;
	font-family: 'Noto Sans Arabic', sans-serif;
	font-size: 2rem;
	padding: 1.2rem;
	background-color: #1c2c59;
	color: #fff;
	/* box-shadow: 0 1px 2px rgba(255, 255, 255, 0.63); */
}
.search-input::placeholder {
	color: rgba(255, 255, 255, 0.5);
}
.search-input:focus {
	outline: none;
	box-shadow: 0 0 0 0.8rem #156ec7b4;
}
/*************************/
/*        ARTICLE       */
/***********************/
.main {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2.4rem;
	padding: 0 3.2rem;
	margin-top: 3rem;
}

.article {
	box-shadow: 10px 10px 5px 0px rgba(10, 5, 10, 0.103);
	border-radius: 15px;
	overflow: hidden;
	background-color: #1c2c59;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	transition: all 0.4s;
}
.article:last-child {
	grid-column: 2/ -1;
}
.article:hover {
	transform: translateY(-1.2rem);
}
.article-img img {
	width: 100%;
	height: 40rem;
	object-fit: cover;
}

.article-heading {
	padding: 2rem 3rem;
	margin-bottom: auto;
}

.article-title {
	font-size: 2rem;
	font-weight: 600;
	color: #fff;
}

.article-description {
	font-size: 1.8rem;
	line-height: 1.8;
	color: #ffffffb3;
}

.article-link {
	display: flex;
	justify-content: center;
	font-size: 1.6rem;
	padding: 0.35em 1.2em;
	border: 0.1em solid #fff;
	border-radius: 15px;
	margin: 0 auto 2rem;
	text-decoration: none;
	color: #fff;
	transition: all 0.2s;
}

.article-link:hover {
	color: #000;
	background-color: #fff;
}
